<!DOCTYPE html>
<html>
  <head>
    <title>YoutubeAuditor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">YouTube Video Auditor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Sign In</a></li>
            <li><a href="#contact">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--/.nav-collapse -->

  	<p class="alert alert-dismissible alert-success"><%= notice %></p>
	<p class="alert alert-dismissible alert-danger"><%= alert %></p>


    <%= yield %>
  </body>
</html>
